@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
/*         Walbaum         */
/* Importing Font for BCBS */
/*-------------------------*/
@font-face {
  font-family: Walbaum;
  src: url(fonts/Walbaum60pt.ttf);
}
/*-------------------------*/

/*===== All and body =====*/

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(#2b1055, #7597de);
  overflow-x: hidden;
}

.typing_text_container {
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  margin-top: 10px;
}

.typing_text_container h1 {
}
.auto_type {
}

/*====== Custom scrollbar ======*/

* {
  scrollbar-color: #fff transparent;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1c0522;
}

::-webkit-scrollbar-thumb {
  background: #fff;
}

/*===== Responsive Mobile View =====*/ /*===== Responsive Mobile View =====*/ /*===== Responsive Mobile View =====*/ /*===== Responsive Mobile View =====*/
/*******************************************************************************************************************************************************
/*******************************************************************************************************************************************************
/*******************************************************************************************************************************************************
/*******************************************************************************************************************************************************
/*******************************************************************************************************************************************************
/*******************************************************************************************************************************************************
/*******************************************************************************************************************************************************
*/
@media screen and (max-width: 1300px) {
  .header {
    justify-content: center;
  }

  .logo {
    display: inline-block !important;
    font-size: 100px !important;
  }

  .nav {
    display: none;
    margin-top: 0px;
    margin-left: 100px;
    display: right !important;
    font-size: 50px;
  }

  nav.navbar.scrolled {
    padding: 0px 0;
    background-color: #121212;
  }

  .webgl {
    width: auto;
    height: auto;
    top: 0;
    left: 0;
    outline: none;
    position: absolute;
  }

  body {
    width: 1500px !important;
  }

  /* Home section */
  .home-section {
    position: relative;
    height: auto;
    width: auto;
    padding: 0px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .home-section:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100px;
    width: 100%;
    background: linear-gradient(to top, #a112c5, transparent);
    z-index: 1000;
  }

  .home-section img {
    position: relative;
    top: 0;
    left: 0;
    height: 10px;
    width: 100% !important;
    object-fit: cover;
    pointer-events: none;
  }

  .home-section img#moon {
    mix-blend-mode: screen;
  }

  .home-section img#mountains_front {
    z-index: 10;
  }

  /* Let's go button */
  #btn-letsgo {
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    color: #2b1055;
    font-size: 3em !important;
    z-index: 20;
    text-decoration: none;
    transform: translateY(100px);
    transition: 0.5s;
  }

  #btn-letsgo:hover {
    background-color: #2b1055;
    color: #fff;
    border: 2px solid #fff;
  }

  .shooting_stars::before {
    height: 5px !important;
  }

  .project_title {
    color: red !important;
    font-size: 1000px !important;
  }

  .tabs-btn {
    text-align: center !important;
    width: fit-content !important;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(to bottom right, #490d58, blue);
    border-radius: 40px 40px 40px 40px;
  }
  .tabs-btn ul {
    margin-left: 10% !important;
    margin-right: 10% !important;
    padding-top: 20px !important;
    padding-bottom: 40px !important;
  }
  .tabs-btn ul li {
    display: inline-block !important;
    font-size: 50px !important;
    padding: 10px 22px;
    margin-top: 30px;
    cursor: pointer;
    user-select: none;
    border: 5px solid rgb(0, 0, 0) !important;
    border-radius: 10px;
  }

  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -150px !important;
    padding: 16px;
    color: rgb(255, 16, 16) !important;
    font-weight: bold;
    font-size: 100px !important;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .text {
    font-size: 25px !important;
  }

  /* Projects image boxes*/
  .ccimageBox {
    margin-left: -30%;
    margin-top: 10%;
    height: 600px;
    width: 800px;
    border-top: 120px solid rgb(180, 177, 219) !important;
    border-right: 120px solid rgb(45, 31, 235) !important;
    border-image: linear-gradient(45deg, rgb(0, 0, 0), rgb(78, 114, 214)) 10;
    background: #181717;
    border-radius: 5px;
  }
  .ccimageBoxTitle {
    margin-top: 1%;
    margin-left: 110% !important;
    max-width: 100px;
    overflow: visible;
    text-overflow: ellipsis;
    white-space: wrap !important;
    word-wrap: break-word;
  }
}
/***************END***************END***************END************************END****************************END****************END*******
/******************************************************************************************************************************************
/******************************************************************************************************************************************
/******************************************************************************************************************************************
/******************************************************************************************************************************************
/******************************************************************************************************************************************
/******************************************************************************************************************************************
/******************************************************************************************************************************************
/******************************************************************************************************************************************
/******************************************************************************************************************************************
/******************************************************************************************************************************************
*/

/*===== CSS =====*/
.navbarwords {
  padding: 6px 0px;
  border-radius: 30px;
  border-style: double;
}
.navbarwords:hover {
  border-radius: 20px;
  background-color: #fff !important;
  border-color: #2b1055;
}
/* Header */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
}

header .logo {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  list-style: none;
  margin-left: 20px;
}

header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: #fff;
  border-radius: 20px;
  transition: 0.5s;
}

header ul li a:hover {
  background-color: #fff;
  color: #2b1055;
}

/* Home section */
.home-section {
  position: relative;
  height: 100vh;
  width: 100%;
  padding: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.home-section:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100px;
  width: 100%;
  background: linear-gradient(to top, #1c0522, transparent);
  z-index: 1000;
}

.home-section img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  pointer-events: none;
}

.home-section img#moon {
  mix-blend-mode: screen;
}

.home-section img#mountains_front {
  z-index: 10;
}

/* Let's go button */
#btn-letsgo {
  display: inline-block;
  padding: 8px 30px;
  border-radius: 40px;
  background-color: #fff;
  color: #2b1055;
  font-size: 1.5em;
  z-index: 20;
  text-decoration: none;
  transform: translateY(100px);
  transition: 0.5s;
}

#btn-letsgo:hover {
  background-color: #2b1055;
  color: #fff;
  border: 2px solid #fff;
}

/* About section */
.about-section {
  position: relative;
  display: block;
  padding: 10%;
  background-image: linear-gradient(to bottom, #1c0522 10%, black 99%);
  height: 1200px;
}

.about-section h2 {
  margin: 0.65em 0;
  color: #fff;
  font-size: 3.25em;
}

.about-section h3 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  color: #fff;
  font-size: 2em;
}

.about-section p {
  margin: 1em 0;
  color: #fff;
  font-size: 1em;
}

.about-section ul {
  margin: 1em 0;
  padding-left: 2.5em;
}

.about-section ul li {
  margin: 0.5em 0;
  color: #fff;
  font-size: 1em;
}
#about_icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 240px;
  width: 200px;
}

/* Footer */
footer {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2b1055;
  color: #fff;
}

footer .logo2 {
  height: 60px;
  width: 60px;
  color: #fff;
  font-size: 2em;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

footer .logo2 img {
  height: 100%;
  width: 100%;
}

footer .social {
  display: flex;
  flex-direction: row;
}

footer .social a {
  margin-left: 20px;
  color: #fff;
  font-size: 1.5em;
}

footer .social a:hover {
  color: #7597de;
}

/************ Default WebGL ************/
* {
  margin: 0;
  padding: 0;
}

.webgl {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  outline: none;
  position: absolute;
}
.webgl2 {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  outline: none;
  position: absolute;
}

/************ Default Css ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p,
a,
li,
button,
ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

/*   Shooting Stars   */

@keyframes animateBg {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

.shooting_stars {
  position: absolute;
  width: 2px;
  height: 2px;
  top: 50%;
  left: 50%;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1),
    0 0 0 8px rgb(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 1);
  animation: animate 3s linear infinite;
}
.shooting_stars::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 300px;
  height: 1px;
  background: linear-gradient(90deg, #fff, transparent);
}
@keyframes animate {
  0% {
    transform: rotate(315deg) translateX(0);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(315deg) translateX(-1000px);
    opacity: 0;
  }
}
span:nth-child(1) {
  top: 10px;
  right: 0px;
  left: initial;
  animation-delay: 0;
  animation-duration: 1s;
}
span:nth-child(2) {
  top: 0;
  right: 80px;
  left: initial;
  animation-delay: 0s;
  animation-duration: 3s;
}
span:nth-child(3) {
  top: 80px;
  right: 0px;
  left: initial;
  animation-delay: 0s;
  animation-duration: 2s;
}
span:nth-child(4) {
  top: 0px;
  right: 180px;
  left: initial;
  animation-delay: 0.6s;
  animation-duration: 1.5s;
}
span:nth-child(5) {
  top: 0px;
  right: 400px;
  left: initial;
  animation-delay: 0s;
  animation-duration: 2.5s;
}
span:nth-child(6) {
  top: 0px;
  right: 600px;
  left: initial;
  animation-delay: 0s;
  animation-duration: 3s;
}
span:nth-child(7) {
  top: 300px;
  right: 0px;
  left: initial;
  animation-delay: 0s;
  animation-duration: 1.75s;
}
span:nth-child(8) {
  top: 0px;
  right: 700px;
  left: initial;
  animation-delay: 0s;
  animation-duration: 1.25s;
}
span:nth-child(9) {
  top: 0px;
  right: 1000px;
  left: initial;
  animation-delay: 0s;
  animation-duration: 2.25s;
}
span:nth-child(10) {
  top: 0px;
  right: 450px;
  left: initial;
  animation-delay: 0s;
  animation-duration: 2.25s;
}

.blackbox {
  padding: 20px 60px;
  background-color: rgb(15, 15, 15);
  border-radius: 100px;
  border-color: #1a4399;
  height: 800px;
}
#aboutMe {
  text-align: center;
}

/* PROJECT TABS */

.project-section {
  position: relative;
  display: block;
  padding: 0px;
  background-color: #1c0522;
}
#projects {
  padding: 5% 15% 1300px;
  left: 50px;
  margin: 50;
  background-image: radial-gradient(#490d58, black 70%);
  height: 100vh;
}
#project_title {
  text-align: center;
  font-weight: 1000;
  font-size: 50px;
}

.container {
  max-width: 800px;
  margin: auto;
  margin-top: 40px;
  font-family: "Poppins", sans-serif;
  border-radius: 4px;
}
.tabs-btn {
  text-align: center;
  color: rgb(255, 255, 255);
  background-image: linear-gradient(to bottom right, #490d58, blue);
  border-radius: 40px 40px 40px 40px;
}
.tabs-btn ul {
  margin-left: -40px;
  padding-top: 14px;
  padding-bottom: 6px;
}
.tabs-btn ul li {
  display: inline;
  font-size: 18px;
  padding: 10px 22px;
  margin-top: 30px;
  cursor: pointer;
  user-select: none;
}
.line {
  width: 100%;
  height: 5px;
  position: absolute;
  left: 0px;
  margin-top: -18px;
}
.line span {
  /* we will change the left in  using x of tabs-btn */
  position: relative;
  width: 10px;
  background-color: #ff0000;
  opacity: 100%;
  display: block;
  height: 4px;
  transition-duration: 0.2s;
  border-radius: 400px 400px 400px 400px;
}
.tabs-content {
  position: relative;
  margin-top: -15px;
  /* set the height with respect to the large content li */
  /* for this case js content tab has large data */
  height: 0px;
  background-color: aqua;
}
.tabs-content ul {
  padding: 0px;
}
.tabs-content ul li {
  list-style: none;
  padding: 25px 35px;
  border-radius: 0px 0px 4px 4px;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  /* we create animation in js with the help of these css variables */
  /* lets give them initial value */
  transform: translateX(var(--translate));
  transition-duration: var(--transDur);
}
.tabs-content ul li.active {
  opacity: 1;
  visibility: visible;
  transform: translateX(0px);
}

/*  ICON BOXES */
.icons {
  height: 70px;
  width: 70px;
  border-radius: 10px 10px 10px 10px;
  padding: 0px 0px 0px 0px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
  top: 5px;
}
.icon_box_text {
  font-size: 15px;
  margin-top: -10px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.module-border-wrap {
  width: 190px;
  height: 120px;
  padding: 1rem;
  position: relative;
  background: linear-gradient(to right, rgb(197, 90, 90), rgb(202, 86, 202));
  padding: 3px;
  border-radius: 5px 5px 5px 5px;
}

.module {
  background: rgb(15, 15, 15);
  color: white;
  padding: 0px;
  width: 184px;
  height: 114px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 5px 5px 5px 5px;
}

#skills_icon {
  height: 500px;
  width: 550px;
  float: right;
}
.welcome_portfolio {
  background-image: linear-gradient(
    to right,
    rgb(78, 114, 214),
    rgb(202, 86, 202)
  );
  opacity: 70%;
  width: fit-content;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid white;
  border-radius: 2px;
}

/* Skills Grid WRAPPERS */
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  max-width: 10px;
  grid-auto-rows: minmax(100px, auto);
  margin-right: auto; /* 1 */
  margin-left: 0%; /* 1 */
}

.float-container {
  /*border: 3px solid #fff;*/
  padding: 0px;
}

.float-child {
  width: 50%;
  float: left;
  padding: 0px;
  /*border: 2px solid red;*/
}
.float-grand-child {
  width: 100%;
  height: 50%;
  float: top;
  padding: 10px;
  margin-left: -5%;
}

/* -----SKILLS GRID----- */
.one {
  grid-column: 1;
  grid-row: 2;
  margin-top: -80px;
  opacity: 0;
}
.two {
  grid-column: 1;
  grid-row: 3;
  margin-top: -80px;
}
.three {
  grid-column: 1;
  grid-row: 4;
  margin-top: -80px;
}
.four {
  grid-column: 2;
  grid-row: 1;
}
.five {
  grid-column: 2;
  grid-row: 2;
}
.six {
  grid-column: 2;
  grid-row: 3;
}
.seven {
  grid-column: 2;
  grid-row: 4;
}
.eight {
  grid-column: 3;
  grid-row: 2;
  margin-top: -80px;
}
.nine {
  grid-column: 3;
  grid-row: 3;
  margin-top: -80px;
}
.ten {
  grid-column: 3;
  grid-row: 4;
  margin-top: -80px;
}

.hidden_skills {
  opacity: 0;
  filter: drop-shadow(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show_skills {
  opacity: 1;
  filter: drop-shadow(5px);
  transform: translateX(0);
}

/* ^^-----END SKILLS GRID-----^^ */

#java_icon {
  width: 50px;
  height: 50px;
}

/* Connect section */
.connect-section {
  position: relative;
  display: block;
  padding: 10%;
  background-image: linear-gradient(to right, #8617a1 30%, rgb(44, 41, 209));
  height: 800px;
}
.ontop {
  text-align: center;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}

/*   FLOATING Stars   */
.jscanvas {
  opacity: 90%;
}

/*   Skills Reveal   */
.reveal {
  opacity: 0;
}
.reveal.active {
  opacity: 1;
}
.active.fade-bottom {
  animation: fade-left 1s ease-in;
}
.active.fade-bottom2 {
  animation: fade-left 1s ease-in;
}
.active.fade-bottom3 {
  animation: fade-left 1s ease-in;
}
.active.fade-bottom4 {
  animation: fade-top 1s ease-in;
}
.active.fade-bottom5 {
  animation: fade-top 1s ease-in;
}
.active.fade-bottom6 {
  animation: fade-bottom 1s ease-in;
}
.active.fade-bottom7 {
  animation: fade-bottom 1s ease-in;
}
.active.fade-bottom8 {
  animation: fade-right 1s ease-in;
}
.active.fade-bottom9 {
  animation: fade-right 1s ease-in;
}
.active.fade-bottom10 {
  animation: fade-right 1s ease-in;
}

.active.fade-profile-left {
  /*For profile to fade in icon*/
  animation: fade-profile-left 1s ease-in;
}
@keyframes fade-profile-left {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes fade-top {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes fade-bottom {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

/* Projects image boxes*/
.ccimageBox {
  margin-left: -30%;
  margin-top: 10%;
  height: 600px;
  width: 800px;
  border-top: 80px solid rgb(180, 177, 219);
  border-right: 80px solid rgb(45, 31, 235);
  border-image: linear-gradient(45deg, rgb(0, 0, 0), rgb(78, 114, 214)) 10;
  background: #181717;
  border-radius: 5px;
}

.ccimageBoxTitle {
  margin-top: 1%;
  margin-left: 105%;
  max-width: 100px;
  overflow: visible;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: break-word;
}

/*  Project Button Links */
.buttonLink {
  display: inline-block;
  color: rgb(245, 239, 239);
  font-weight: bold;
  border-bottom: 4px solid red;
  padding: 0px 10px 0px;
}
.buttonLink::after {
  content: "";
  display: block;
  width: 0px;
  margin-top: -30px;
  margin-left: -10px;
  height: 30px;
  background: red;
  transition: width 0.3s;
  padding: 0px 10px 0px;
}
.buttonLink:hover::after {
  width: 100%;
  background: red;
}

#framework1,
#languages1,
#ide1,
#backend1,
#api1 {
  color: rgb(245, 239, 239);
  font-weight: bold;
  border-bottom: 1px solid red;
  padding: 0px 0px 0px;
}
#cclogin {
  height: 10%;
  width: 10%;
}

/*  Project Sliding Images  */
* {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot,
.dot2,
.dot3 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.activeDot,
.dot:hover {
  background-color: red;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/*  Pulse contact image  */

#contact-img {
  animation: pulse 5s linear infinite;
}

@-webkit-keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

/***  Mail grid  **/
.icon_Mail_text {
  font-size: 15px;
  margin-top: -1px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.mail-module-border-wrap {
  width: 190px;
  height: 120px;
  padding: 1rem;
  position: relative;
  padding: 0px;
  border-radius: 5px 5px 5px 5px;
}

.mail-module {
  color: white;
  padding: 0px;
  width: 184px;
  height: 114px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 5px 5px 5px 5px;
  font-family: "Walbaum";
}

.wrapper2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  max-width: 100px;
  grid-auto-rows: minmax(100px, auto);
  margin-right: auto; /* 1 */
  margin-left: 100px;
}

.items {
  position: relative;
  text-align: center;
  margin: auto;
  display: grid;
  place-items: center;
}

#contact_title {
  font-family: "Walbaum";
  font-weight: bold;
  font-size: 50px;
}

#contact_p {
  font-family: "Walbaum";
  text-align: left;
  margin-top: 0px;
  margin-left: 100px;
  font-weight: 300;
  font-weight: bold;
}
